<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
</head>
<body>
    <div id="wrapper">
    <main id="main-content">

        <div class="hint-text-container">
            @for (hint of currentHints; track hint) {
                <p id="available-hint">{{hint}}</p>
            }
        </div>

        <!--Hints-->
        <div class="hint-section">
            <button (click)="useHint()" [disabled]="hintsRemaining <= 0">Hint</button>
        </div> 

        <!--Word to guess-->
        <div class="word-display">
            <p>{{wordDisplay}}</p>
        </div>

        <app-hangman [wrongGuesses]="wrongGuesses"></app-hangman> 

                <!--Hints remaining, Number of wrong guesses-->
        <div class="statistics">
            <p>Miss: {{wrongGuesses}} / {{MAX_ATTEMPTS}}</p>
            <p>Hint: {{hintsRemaining}} / {{MAX_HINTS}}</p>   
        </div>   



        <!--Letters-->
        <div class="available-letters">

            @for (letter of availableLetters; track letter) {
                <button 
                    [disabled]="disabledLetters(letter)"
                    (click)="makeGuess(letter)"> 
                    {{letter}}
                </button>
            }
        </div>

        <div class="try-again">
            @if (gameMessage) {
                <p id="game-message">{{gameMessage}}</p>
                <button (click)="startGame()">Play again</button>
            }
        </div>

          


     

    </main>
</div>

</body>
</html>
