<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
</head>
<body>
        <div class="top-section">
            <!--Word to guess-->
        <div class="word-display">
            <p>{{wordDisplay}}</p>
        </div>
        <div class="hint-text-container">
            @for (hint of currentHints; track hint) {
                <p id="available-hint">{{hint}}</p>
            }
        </div>
        </div>

        <div class="middle-section">
            <div class="column">
                <!--Hints remaining, Number of wrong guesses-->
                <div class="statistics">
                    <p>Miss: {{wrongGuesses}} / {{MAX_ATTEMPTS}}</p>
                    <p>Hint: {{hintsRemaining}} / {{MAX_HINTS}}</p>   
                </div>  
            </div>
            <div class="column">
                <app-hangman [wrongGuesses]="wrongGuesses"></app-hangman> 
            </div>
            <div class="column">
        <!--Hints-->
        <div class="hint-section">
            
            <button (click)="useHint()" [disabled]="hintsRemaining <= 0 || gameMessage">Hint</button>
        </div> 
            </div>
        </div>

        <div class="bottom-section">
            <!--Letters-->
            <div class="available-letters">

                @for (letter of availableLetters; track letter) {
                    <button 
                        [disabled]="disabledLetters(letter)"
                        (click)="makeGuess(letter)"
                        [class.wrong]="isWrongLetter(letter)"> 
                        {{letter}}
                    </button>
                }
            </div>

            <div class="try-again">
                @if (gameMessage) {
                    <p>{{gameMessage}}</p>
                    <button (click)="startGame()">Play again</button>
                }
            </div>
        </div>

</body>
</html>
